* {
	box-sizing: border-box;
}
body {
	font-family: 'Nunito Sans', serif !important;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: #F6F6F6;
}
input, select, textarea, p, .bootstrap-select .btn, .bootstrap-select .dropdown-menu li a {
	font-size: 14px !important;
}
.wrapper{
	display: block;
	width: 100%;
	height: auto;
}
.wrap-container {
	display: block;
	margin: auto;
	width: auto;
	height: auto;
	max-width: 1315px;
	padding: 0 10px;
}
.bootstrap-select .btn,
.bootstrap-select .btn:focus,
.bootstrap-select .btn:active,
.btn-light:not(:disabled):not(.disabled).active, 
.btn-light:not(:disabled):not(.disabled):active, 
.show>.btn-light.dropdown-toggle,
.form-control:focus,
.form-control {
	border-color: #ebe5eb;
	outline: 0 !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	-ms-box-shadow: none !important;
	-o-box-shadow: none !important;
	box-shadow: none !important;
	background-color: #FBFAFA;
}
h1,h2,h3,h4,h5,h6,p {
	color: #37003c;
}
p {
	/*color: #696969;*/
	font-weight: 300;
}
a {
	color: #e90052;
	text-decoration: none;
}
a:hover {
	color: #e90052;
}
a:active {
	opacity: 0.8;
}
::-moz-selection {
	background: #e90052;
	color: #ffffff;	
}
::-ms-selection {
	background: #e90052;
	color: #ffffff;	
}
::-webkit-selection {
	background: #e90052;
	color: #ffffff;	
}
::selection {
	background: #e90052;
	color: #ffffff;
}
.bootstrap-select .dropdown-menu li a {
    background-color: #fff !important;
    color: #37003c !important;
}
.bootstrap-select .dropdown-menu li a:hover,
.bootstrap-select .dropdown-menu li.selected a {
    background-color: #e90052 !important;
    color: #fff !important;
}

/** Navbar **/
.nav{
	height: 60px;
	line-height: 60px;
}
.nav li a {
	height: 58px;
	line-height: 60px;
}
.nav li,
.nav li a {
	outline: none;
	box-shadow: none;
}
.nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
	width: 100%;
	display: block;
	border-bottom: 1px solid #ebe5eb;
	background-color: #FFF;
	/*overflow: hidden;*/
}
.icon-list {
	float: right;
}
.icon-list li {
	position: relative;
	display: inline-block;
	list-style: none;
	cursor: pointer;
}
.icon-list li svg,
.icon-list li a {
	color: #151931; /*#37003c*/
	font-size: 14px;
}
.icon-list li svg {
	width: 22px;
}
.icon-list li a:hover,
.icon-list li a:active,
.icon-list li a:focus,
.icon-list li a {
	position: relative;
	display: block;
	padding: 0 8px;
	text-decoration: none;
}
.icon-list li a:focus svg,
.icon-list li a:hover svg {
	color: #f4473a;
}
.icon-list li a:focus,
.icon-list li a:hover {
	background-color: #fdfdfd;
}
.icon-list-notify {
	display: inline-block;
    position: absolute;
	top: 9px;
    left: -5px;
    width: auto;
    height: auto;
    padding: 0 6px;
    line-height: 18px;
    text-align: center;
    font-size: 12px;
    font-weight: 800;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.icon-list-notify-red{
	border: 1px solid #e84337;
    background-color: #f4473a;
    color: #FFF;
}
.link-drop-ul {
	position: absolute;
    width: 150px;
    background-color: #FFFFFF;
    right: 0;
    top: 59px;
    display: none;
}
.link-drop-ul li,
.link-drop-ul li a {
	display: block;
}
.link-drop-ul li a {
    padding: 10px 15px !important;
    height: auto;
    line-height: normal !important;
}
.active-li-list {
	display: block;
}


/** LOGO **/
.shoebill-logo {
	display: inline-block;
}
.shoebill-logo img {
	width: 150px;
}

@media screen and (max-width: 772px) {
	.shoebill-logo img {
		width: 123px;
	}
}