#contact {
	position: absolute;
	top: 40px;
	right: 40px;
}
#contact #linkedin {
	display: none;
}

@media screen and (max-width: 767px) {
	#contact {
		position: initial;
	}
	#contact #linkedin {
		display: block;
	}
}
#avatar {
	margin-left: auto;
	margin-right: auto;
	width: 50px;
	height: 50px;
	background-color: #FFF;
	border-radius: 50%;
}