#contact {
	position: absolute;
	top: 40px;
	right: 40px;
}
#contact #linkedin {
	display: none;
}

@media screen and (max-width: 767px) {
	#contact {
		position: initial;
	}
	#contact #linkedin {
		display: block;
	}
}
#avatar {
	position: relative;
	top: -100px;
	left: auto;
	right: auto;
	text-align: center;
	margin: auto;
	width: 130px;
	height: 130px;
	background-color: red;
	border-radius: 50%;
}