.box-author {
	max-width: 900px;
	margin: auto;
}
@media screen and (max-width: 772px) {
	.entry-main-content, .excerpt {
		font-size: 18px !important;
	}
	#author-container,
	.box-author {
		max-width: 100% !important;
	}
}

pre {
	font-size: 14px !important;
}

.postPhoto {
	display: inline-block;
	width: 100%;
	height: 100%;
	background-color: #ecedda;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
}